name: Terraform Destroy (Manual Only)

on:
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  TF_VERSION: 1.9.5
  ROLE_NAME: data-analytics-tf-dev-role
  ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
  DEPLOYMENT_PATH: root_modules/env/dev

jobs:
  Destroy:
    runs-on: ubuntu-latest
    environment:
      name: Development   # still requires approval

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::${{ env.ACCOUNT_ID }}:role/${{ env.ROLE_NAME }}
          role-session-name: GitHubActions-Terraform-Destroy-${{ github.run_id }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TF_VERSION }}

      - name: Terraform Destroy
        working-directory: ${{ env.DEPLOYMENT_PATH }}
        run: terraform destroy -auto-approve
